#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	aliases {
		eeprom-0 = &eeprom0;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
	status = "okay";

	eeprom0: eeprom@50 {
		compatible = "atmel,at24";
		reg = <0x50>;
		size = <4096>;
		pagesize = <32>;
		address-width = <16>;
		timeout = <10>;
	};
};
