#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/sensor/ina230.h>

/ {
    leds {
        compatible = "gpio-leds";

        led1: led_1 {
            gpios = <&gpioa 11 GPIO_ACTIVE_HIGH>;
            label = "LED1_PA11";
        };

        led2: led_2 {
            gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
            label = "LED2_PB3";
        };
    };
};

&timers2 {
    status = "okay";

    pwm2: pwm {
        status = "okay";
        //pinctrl-0 = <&tim2_ch2_pa1 &tim2_ch4_pa3>;
        pinctrl-0 = <&tim2_ch2_pa1 &tim2_ch1_pa15>;
        pinctrl-names = "default";
    };
};

&spi1 {
    status = "okay";

    /* Naudojam default board pinctrl */
    pinctrl-0 = </*&spi1_nss_pa4*/ &spi1_sck_pa5
                 &spi1_miso_pa6 &spi1_mosi_pa7>;
    pinctrl-names = "default";

    /* CS per PA4 */
    cs-gpios = <
        &gpiob 5 GPIO_ACTIVE_LOW /*PT1000*/
        &gpioa 4 GPIO_ACTIVE_LOW /*LM35*/
    >;

    /*ADS1220 PT1000*/
    ads1220_0: ads1220@0 {
        compatible = "ti,ads1220";
        reg = <0>;
        spi-max-frequency = <1000000>;

        /* Atskiras DRDY pinas */
        drdy-gpios = <&gpiob 4 GPIO_ACTIVE_LOW>;
        // pga-bypass;
        data-rate = <0>;
        operating-mode = <0>;

        idac-magnitude-microamp = <250>;
        idac1-routing = <4>;        /* AIN3 */
        idac2-routing = <0>;        /* Disabled */

        #io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;

        channel@0 {
            reg = <0>;

            zephyr,differential;
            zephyr,input-positive = <0>;   /* AIN0 */
            zephyr,input-negative = <1>;   /* AIN1 */

            zephyr,gain = "ADC_GAIN_4";
            zephyr,reference = "ADC_REF_EXTERNAL0";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        };
    };

    /*ADS1220 LM35*/
    ads1220_1: ads1220@1 {
        compatible = "ti,ads1220";
        reg = <1>;
        spi-max-frequency = <1000000>;
        data-rate = <0>;
        /* Atskiras DRDY pinas */
        drdy-gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;
        pga-bypass;

        #io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;

        channel@0 {
            reg = <0>;
            zephyr,gain = "ADC_GAIN_4";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        };
    };

};

&usart2 {
    current-speed = <921600>;
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
};

&usart1 {
    status = "okay";
    current-speed = <115200>;

    pinctrl-0 = <
        &usart1_tx_pa9
        &usart1_rx_pa10
        &usart1_de_pa12
    >;

    de-enable;
    de-assert-time = <1>;
    de-deassert-time = <1>;

    pinctrl-names = "default";

    modbus0 {
        compatible = "zephyr,modbus-serial";
        status = "okay";
    };
};

&adc1 {
    status = "okay";
    st,adc-clock-source = "SYNC";
    st,adc-prescaler = <4>;
    pinctrl-0 = <&adc1_in16_pb1>;
    pinctrl-names = "default";
};

&i2c1 {
    pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>;
    status = "okay";

    ina236_0: ina236@40 {
        compatible = "ti,ina236";
        reg = <0x40>;
        label = "INA236_0";

        rshunt-micro-ohms = <15000>;
        current-lsb-microamps = <30>;
        high-precision;
        vshunt-conversion-time-us = <4156>;
        vbus-conversion-time-us = <4156>;
        avg-count = <16>;
    };

    ina236_1: ina236@41 {
        compatible = "ti,ina236";
        reg = <0x41>;
        label = "INA236_1";

        rshunt-micro-ohms = <15000>;
        current-lsb-microamps = <30>;
        high-precision;
        vshunt-conversion-time-us = <4156>;
        vbus-conversion-time-us = <4156>;
        avg-count = <16>;
    };
};




/* NUCLEO-L432KC HSE is provided by ST-LINK MCO as an 8 MHz external clock. */
&clk_hse {
    clock-frequency = <DT_FREQ_M(8)>;
    hse-bypass;
    status = "okay";
};

/* Use the external 32.768 kHz LSE crystal for RTC. */
&clk_lse {
    status = "okay";
    driving-capability = <0>;
};

&clk_hsi {
    status = "disabled";
};

&clk_lsi {
    status = "disabled";
};

&pll {
    div-m = <1>;
    mul-n = <20>;
    div-p = <7>;
    div-q = <2>;
    div-r = <2>;
    clocks = <&clk_hse>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(80)>;
    ahb-prescaler = <1>;
    apb1-prescaler = <1>;
    apb2-prescaler = <1>;
};

&rtc {
    clocks = <&rcc STM32_CLOCK(APB1, 28)>,
             <&rcc STM32_SRC_LSE RTC_SEL(1)>;
    status = "okay";
};

&mco1 {
    clocks = <&rcc STM32_SRC_LSE MCO1_SEL(7)>;
    prescaler = <MCO1_PRE(MCO_PRE_DIV_1)>;
    pinctrl-0 = <&rcc_mco_pa8>;
    pinctrl-names = "default";
    status = "okay";
};
